@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-light-rgb: 0, 0, 0;
  --background-start-light-rgb: 255, 255, 255;
  --background-end-light-rgb: 255, 255, 255;

  --foreground-dark-rgb: 255, 255, 255;
  --background-start-dark-rgb: 0, 0, 0;
  --background-end-dark-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  body {
    --foreground: rgb(var(--foreground-dark-rgb));
    --background-start: rgb(var(--background-start-dark-rgb));
    --background-end: rgb(var(--background-end-dark-rgb));
  }
}

body {
  --foreground: rgb(var(--foreground-light-rgb));
  --background-start: rgb(var(--background-start-light-rgb));
  --background-end: rgb(var(--background-end-light-rgb));

  color: var(--foreground);
  background: linear-gradient(
      to bottom,
      transparent,
      var(--background-end)
    )
    var(--background-start);
}
